
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
   
}
    body{
        display: flex; 
        min-height: 100vh;
        justify-content: center;
        background-color: #f2f2f2;
     
    }
    
    .content{
        height: 28rem;
        width: 50rem;
        align-self: center;
        display: flex;
    
        border-radius:15px;
    }

 .content > div{
    flex: 1;
}
.sedan{
   background-color: #e28525;
   border-top-left-radius:10px;
   border-bottom-left-radius:10px;

}
img, h1{
    margin-left: 2rem;
    margin-top: 2rem;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    /* font-family: 'Lexend Deca', sans-serif; */
}
p{
    margin: 2rem;
    font-family: 'Lexend Deca', sans-serif;}
.SUVs{
    background-color: #016972;
   
}
.Luxury{
    background-color:#00403f;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
 
} 

.btn1{
   
    margin-left: 2rem; 
    margin-top: 2.5rem; 
    background-color:#fff ; 
    border: none;
    color: #e28525;
    padding: 12px 25px;
    border-radius: 20px;
}
.btn2{
    margin-bottom: 2rem; 
    margin-left: 2rem; 
    margin-top: 3.5rem; 
    background-color:#fff ; 
    border: none;
    color:#016972 ;
    padding: 12px 25px;
    border-radius: 20px;
}
.btn3{
    margin-bottom: 2rem; 
    margin-left: 2rem; 
    margin-top: 2rem; 
    background-color:#fff ; 
    border: none;
    color:#00403f;
    padding: 12px 25px;
    border-radius: 20px;
}
 .btn1:hover{
    background-color: #e28525;
    color: #fff;
    border: solid 2px #fff;
 }
 .btn2:hover{
    background-color: #016972;
    color: #fff;
    border: solid 2px #fff;
 }
 .btn3:hover{
    background-color: #00403f;
    color: #fff;
    border: solid 2px #fff;
 }

@media (max-width: 575.98px) { 
    .content{
     
       margin: 2rem 2rem 4rem 2rem;
        align-self: center;
        display: block;
    
        border-radius:15px;   height:fit-content;
        
    }
   body{
    display: flex; 
    justify-content: center;
    background-color: #f2f2f2;

   } 

   .sedan{
    background-color: #e28525;
    border-top-left-radius:10px;
    border-bottom-left-radius:0px;
    border-top-right-radius:10px;
   
 
 }
 
 .Luxury{
    background-color:#00403f;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-right-radius:0px;
 
 }
 .btn1{
   
    margin-bottom: 3rem;
}

p{
    width: 12rem;
}

}